.main{
    background: linear-gradient(rgb(7, 245, 193), #070707);;
    width: 400px;
    height: 500px;
    margin-left: 500px;
    border: 3px solid black;
    border-radius: 25px;
}

.addItem{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    margin-left: 25px;
    text-align: center;
    background-color: #000;
    font-weight: bolder;
    color: #fff;
}

input{
    width: 230px;
    height: 35px;
    border-radius: 20px;
    margin-left: 30px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    border: #fff;
}

.delete{
    width: 30px;
    height: 30px;
    background-color: rgb(47, 46, 46);
    color: rgb(199, 195, 195);
    font-weight: bolder;
    border-radius: 5px;
    margin-left: 10px;
}

h1{
    margin-left: 20px;
    margin-top: 10px;
}
ul{
    color: rgb(226, 226, 226);
    font-weight: bold;
    font-size: 20px;
}